<div class=" p-4">
    <h2 class="bg-clip-text transparent bg-gradiant p-6 from-[#47B5FF] via-[#06283D] to-[#47B5FF] text-2xl font-semibold text-center pt-6 dark:from-[#06283D] dark:via-[#47B5FF] dark:to-[#06283D] title">Contacto</h2>
</div>
<div class="flex justify-center items-center flex-col p-2.5">
    <form class="flex flex-col p-9 m-4 bg-black dark:bg-primary rounded-lg text-primary dark:text-black box-hover shadow-md hover:shadow-box-hover dark:form-shadow-light items-center" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
            Nombre
            <input [formControl]="name" required class="border-input border-primary dark:border-black text-primary dark:text-black">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="">
                <div *ngIf="name.errors?.['required']" class="text-red mb-2">
                    Este campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            Correo electrónico
            <input [formControl]="email" placeholder="correo@ejemplo.com" required class="border-input border-primary dark:border-black text-primary dark:text-black">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="">
                <div *ngIf="email.errors?.['required']" class="text-red mb-2">
                    Este campo es obligatorio.
                </div>
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="">
                <div *ngIf="email.errors?.['email']" class="text-red mb-2">
                    No es un correo válido.
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            Mensaje
            <textarea [formControl]="message" maxlength="256" required class="border-input border-primary dark:border-black text-primary dark:text-black"></textarea>
            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="">
                <div *ngIf="message.errors?.['required']" class="text-red mb-2">
                    Este campo es obligatorio.
                </div>
            </div>
        </div>
        
        <button [disabled]="isLoading" class="rounded-full bg-primary dark:bg-black p-2 mt-4 w-2/3 text-black dark:text-primary dark:hover:bg-dark-theme dark:active:bg-route-link-active hover:bg-dark-theme hover:text-primary active:bg-route-link-active ease-in duration-300" type="submit" id="form-submit" (click)="checkSubmission()">Enviar</button>
        <input [formControl]="honeypot" class="hidden" type="text" />
        <div [ngClass]="!submitted? 'hidden' : 'visible'" class="text-center p-4 mt-2.5" >  
            <span>{{responseMessage}}</span>
        </div> 
    </form>
</div>