.code-block {
  animation: read 1s infinite linear;
}
.code-block-none {
  animation: none;
} 
.code-block rect {
  fill: rgba(128,230,25,0.5);
}
.code-block rect:nth-of-type(5) {
  fill: rgba(25,195,230,0.5);
}
.code-block rect:nth-of-type(8),
.code-block rect:nth-of-type(9) {
  fill: rgba(229,230,25,0.5);
}
.code-block rect:nth-of-type(12) {
  fill: rgba(230,25,128,0.5);
}
@keyframes read {
  to {
    transform: translate(0, -283.5px);
  }
}
.button-fact {
  font-family: "JetBrains Mono",monospace;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
  z-index: 99;

}
.button-fact:hover {
  transform: translateY(-2px);
}
.button-fact:active {
  transform: translateY(2px);
}

.slidingIn {
  position: absolute;
  bottom: 260px;
  animation: block 1s linear;
}
@keyframes block{
  0%{left: 270px} 
  100%{left: 0px}
}
.slides, .slides1, .slides2 {
  position: absolute;
  bottom: 240px;
  left: 33%;
  z-index: 1;
}
.slides1 {
  right: 33%;
  left: auto;
}
.slides2 {
  right: 20%;
  left: auto;
}
.div-hover:hover .slides, .div-hover:hover .slides1, .slides2 {
  animation: sladeIn 2s forwards;
}

@keyframes sladeIn{
  0%{bottom: 240px} 
  100%{bottom: 280px}
}
.buttonPic {
  position: absolute;
  bottom: 270px;
  z-index: 999;
}
.tank {
  animation: goRight 3s forwards;
}
@keyframes goRight{
  0%{left: 20%} 
  100%{left: 50%}
}