<div class="flex flex-col justify-center items-center text-center ">
    <div >
        <img src="/assets/img/foto-malta_50.jpg" alt="Foto de Carmen en un puerto de Malta">
    </div>
    <div class="pt-4" >
       <p>Mi nombre es Carmen, me encanta viajar y aprender cosas nuevas y hace un par de años descubrí el mundo del desarrollo web y desde entonces, intento aprender todo lo que puedo sobre él.</p> 
       <div class="flex justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
            <defs>
                <g class="code-block" id="code-block">
                    <rect ry="0" y="862" x="60" height="7.5" width="74"></rect>
                    <rect ry="0" y="874" x="96" height="7.5" width="28"></rect>
                    <rect width="54" height="7.5" x="60" y="886" ry="0"></rect>
                    <rect ry="0" y="897" x="60" height="7.5" width="74"></rect>
                    <rect width="56" height="7.5" x="78" y="909" ry="0"></rect>
                    <rect ry="0" y="921" x="83" height="7.5" width="51"></rect>
                    <rect width="51" height="7.5" x="73" y="932" ry="0"></rect>
                    <rect ry="0" y="944" x="72" height="7.5" width="62"></rect>
                    <rect width="74" height="7.5" x="60" y="956" ry="0"></rect>
                    <rect ry="0" y="967" x="50" height="7.5" width="84"></rect>
                    <rect width="64" height="7.5" x="60" y="979" ry="0"></rect>
                    <rect ry="0" y="991" x="60" height="7.5" width="74"></rect>
                    <rect width="41" height="7.5" x="93" y="1003" ry="0"></rect>
                    <rect ry="0" y="1014" x="66" height="7.5" width="58"></rect>
                    <rect width="58" height="7.5" x="56" y="1026" ry="0"></rect>
                    <rect ry="0" y="1038" x="50" height="7.5" width="74"></rect>
                    <rect width="46" height="7.5" x="88" y="1049" ry="0"></rect>
                    <rect ry="0" y="1061" x="105" height="7.5" width="19"></rect>
                    <rect width="38" height="7.5" x="96" y="1073" ry="0"></rect>
                    <rect ry="0" y="1084" x="73" height="7.5" width="51"></rect>
                    <rect ry="0" y="1096" x="88" height="7.5" width="26"></rect>
                    <rect width="56" height="7.5" x="68" y="1108" ry="0"></rect>
                    <rect ry="0" y="1120" x="100" height="7.5" width="24"></rect>
                    <rect width="74" height="7.5" x="50" y="1131" ry="0"></rect>
                </g>
                <clipPath id="spec-left">
                    <path d="M85 860c-10 1-25 1-28 13-3 15-3 32 6 45 7 11 23 9 35 9 19-1 35-16 40-34 2-8 4-14 1-19-6-10-20-12-31-13l-23-1z" fill="#333"></path>
                </clipPath>
                <clipPath id="spec-right">
                    <path d="M215 860c10 1 24 1 28 13 3 15 3 32-6 45-7 11-23 9-35 9-19-1-35-16-40-34-2-8-4-14-1-19 6-10 20-12 31-13l23-1z" fill="#333"></path>
                </clipPath>
            </defs>
            <g transform="matrix(1.34105 0 0 1.34105 -51 -1050)">
                <path class="fill-emoji drop-shadow-md dark:fill-[#757D93]" style="stop-color:rgb(255,0,0);stop-opacity:1" d="M243 894c0 61-36 106-94 106-55 0-92-45-92-106s38-86 91-86 95 25 95 86z"></path>
                
                <path class="drop-shadow-lg fill-[#00000]" d="M77 855c-6 0-13 0-23 2l-14 3 2 15 7 2c3 5 1 10 2 18 3 28 12 34 26 35 8 1 23 3 33-1s19-10 25-18c6-9 6-18 10-26 3-5 8-4 10 0 3 8 4 17 10 26 6 8 15 14 24 18 11 4 26 2 34 1 14-1 23-7 26-35 1-8-2-13 2-18l7-2 2-15-15-3c-15-3-23-2-34-2h-13l-25 4c-8 2-15 7-23 6-8 0-15-5-23-6l-25-4H77z"></path>
                <path class="fill-[#595959]" d="M85 860c-10 1-25 1-28 13-3 15-3 32 6 45 7 11 23 9 35 9 19-1 35-16 40-34 2-8 4-14 1-19-6-10-20-12-31-13l-23-1z" fill="#333"></path>
                <path class="fill-[#F2F2F2] opacity-60" d="M56 864a4 2 0 01-4 2 4 2 0 01-4-2 4 2 0 014-1 4 2 0 014 1"></path>
                <path class="fill-[#595959]" d="M215 860c10 1 24 1 28 13 3 15 3 32-6 45-7 11-23 9-35 9-19-1-35-16-40-34-2-8-4-14-1-19 6-10 20-12 31-13l23-1z" fill="#333"></path>
                <path class="fill-[#F2F2F2] opacity-60" d="M244 864a4 2 0 004 2 4 2 0 004-2 4 2 0 00-4-1 4 2 0 00-4 1"></path>
                <g clip-path="url(#spec-left)">
                    <use xlink:href="#code-block" transform="translate(0 0)"></use>
                    <use xlink:href="#code-block" transform="translate(0 0)" y="283.5"></use>
                </g>
                <g clip-path="url(#spec-right)">
                    <use xlink:href="#code-block" transform="translate(104 0)"></use>
                    <use xlink:href="#code-block" transform="translate(104 0)" y="283.5"></use>
                </g>
                <path class="fill-[#F2F2F2] opacity-25" d="M101 861l-19 66h17l18-65-16-1zM89 860h-4l-3 1-18 59 6 5 19-65z"></path>
                <path style="fill:none;stroke:#000000;stroke-width:3.84702667;stroke-linecap:round;stroke-linejoin:miter;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none" d="m 118.4649,961.61863 c 2.57047,2.08548 5.14012,4.17029 9.33409,6.15797 4.19397,1.98768 10.01193,3.87851 15.63608,4.94504 5.62414,1.06652 11.05424,1.30893 16.36315,0.67854 5.30891,-0.63039 10.49659,-2.13337 14.66612,-3.8545 4.16952,-1.72114 7.32091,-3.66034 10.47217,-5.59945" id="path12052" inkscape:path-effect="#path-effect12054" inkscape:original-d="m 118.4649,961.61863 c 2.5704,2.08556 5.14006,4.17037 7.70896,6.25444 5.81895,1.89166 11.63691,3.7825 17.45425,5.67263 5.43107,0.24318 10.86117,0.48559 16.29064,0.72726 5.18864,-1.50228 10.37632,-3.00526 15.56337,-4.50901 3.15228,-1.93853 6.30367,-3.87773 9.45439,-5.81772" />      
            </g>
        </svg>
        </div>
    </div>
    <div class="pt-6" >
        <div class="habilidades">
            <div class="habilidades__grid">
                <span title="HTML5"><fa-icon [icon]="html"></fa-icon></span>
                <span title="CSS3"><fa-icon [icon]="css"></fa-icon></span>
                <span title="JavaScript"><fa-icon [icon]="js"></fa-icon></span>
                <span title="Angular"><fa-icon [icon]="angular"></fa-icon></span>
                <span title="PHP"><fa-icon [icon]="php"></fa-icon></span>
                <span title="Laravel"><fa-icon [icon]="laravel"></fa-icon></span>
                <span title="Github"><fa-icon [icon]="gh"></fa-icon></span>
                <span title="Git"><fa-icon [icon]="git"></fa-icon></span>
                <span title="Figma"><fa-icon [icon]="figma"></fa-icon></span>
                <span title="Drupal"><fa-icon [icon]="dp"></fa-icon></span>
            </div>
        </div>
    </div>
</div>