@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.plane {
  animation: float 6s ease-in-out infinite;
}

#block {
  	position: relative;
	left: 150px;

}

@keyframes block{
    0%{left: 160px} 
    100%{left: -160px}
}
.animate-block {
	animation: block 2s infinite linear;
}
.title {
	font-size: 2rem;
}
.transparent {
	color: transparent;
  }