<div class="grid justify-center	p-2.5 gap-4 ">
    <div class="text-center pt-5">
        <div>Hola, soy</div>
        <div class="font-bold font-mono text-2xl
        ">Carmen Arias</div>
        <div>Desarrolladora web</div>
    <!--     <a class="text-xl font-mono cursor-crosshair	p-3
        " href="/assets/CV.pdf">Mi CV</a> -->
        <a id="form-submit" class="text-xl font-mono p-3
        " href="/assets/CV.pdf">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Mi CV
        </a>
        <ol class="pt-5">
            <li><i class="fab fa-github"></i><a class="after:content-[''] absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-violet-900	after:opacity-0 transition-underline" href="https://github.com/CarmenAriasM">
                GitHub</a></li>
            <li><i class="fab fa-linkedin"></i><a href="#" class="transition-underline">
                Linkedin</a></li>
            <li><i class="fas fa-envelope"></i><a href="#" class="transition-underline">
                maricarmen98a@gmail.com</a></li>
        </ol>
    </div>
    <div class="">
        <ol>
            <li>class Persona {{ '{' }}</li>
                <li>constructor() {{ '{' }}</li>
                    <li>this.nombre = "<b>Carmen Arias</b>"</li>
                    <li>this.lenguajes = ["JavaScript", "TypeScript", "PHP"]</li>
                    <li>this.frameworks = ["Angular", "Laravel", "Code Igniter"]</li>
                    <li>this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"]</li>
            <li>{{ '}' }}</li>      
        </ol>
    </div>
    <div class="">
        <ol>
            <li>class Persona {{ '{' }}</li>
                <li>constructor() {{ '{' }}</li>
                    <li>this.nombre = "<b>Carmen Arias</b>"</li>
                    <li>this.lenguajes = ["JavaScript", "TypeScript", "PHP"]</li>
                    <li>this.frameworks = ["Angular", "Laravel", "Code Igniter"]</li>
                    <li>this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"]</li>
            <li>{{ '}' }}</li>      
        </ol>
    </div>
    <div class="">
        <ol>
            <li>class Persona {{ '{' }}</li>
                <li>constructor() {{ '{' }}</li>
                    <li>this.nombre = "<b>Carmen Arias</b>"</li>
                    <li>this.lenguajes = ["JavaScript", "TypeScript", "PHP"]</li>
                    <li>this.frameworks = ["Angular", "Laravel", "Code Igniter"]</li>
                    <li>this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"]</li>
            <li>{{ '}' }}</li>      
        </ol>
    </div>
    <div class="">
        <ol>
            <li>class Persona {{ '{' }}</li>
                <li>constructor() {{ '{' }}</li>
                    <li>this.nombre = "<b>Carmen Arias</b>"</li>
                    <li>this.lenguajes = ["JavaScript", "TypeScript", "PHP"]</li>
                    <li>this.frameworks = ["Angular", "Laravel", "Code Igniter"]</li>
                    <li>this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"]</li>
            <li>{{ '}' }}</li>      
        </ol>
    </div>
    <div class="">
        <ol>
            <li>class Persona {{ '{' }}</li>
                <li>constructor() {{ '{' }}</li>
                    <li>this.nombre = "<b>Carmen Arias</b>"</li>
                    <li>this.lenguajes = ["JavaScript", "TypeScript", "PHP"]</li>
                    <li>this.frameworks = ["Angular", "Laravel", "Code Igniter"]</li>
                    <li>this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"]</li>
            <li>{{ '}' }}</li>      
        </ol>
    </div>
</div>