<div class="grid justify-center	p-2.5 gap-4 ">
    <div class="text-center pt-5">
        <div>Hola, soy</div>
        <div class="font-bold font-mono text-2xl
        ">Carmen Arias</div>
        <div>Desarrolladora web</div>
    <!--     <a class="text-xl font-mono cursor-crosshair	p-3
        " href="/assets/CV.pdf">Mi CV</a> -->
        <a id="form-submit" class="text-xl font-mono p-3
        " href="/assets/CV.pdf">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Mi CV
        </a>
        <ol class="pt-5">
            <li><i class="fab fa-github"></i><a class="after:content-[''] absolute after:bottom-0 after:left-0 after:w-full after:h-0.5 after:bg-violet-900	after:opacity-0 transition-underline" href="https://github.com/CarmenAriasM">
                GitHub</a></li>
            <li><i class="fab fa-linkedin"></i><a href="#" class="transition-underline">
                Linkedin</a></li>
            <li><i class="fas fa-envelope"></i><a href="#" class="transition-underline">
                maricarmen98a@gmail.com</a></li>
        </ol>
    </div>
    <div class="bg-primary rounded-lg py-6 px-6	font-mono text-sm">
        <ol>
            <li>1 <span class="pl-2"></span> class Persona {{ '{' }}</li>
            <li>2 <span class="pl-4"></span> constructor() {{ '{' }}</li>
            <li>3 <span class="pl-5"></span> this.nombre = "<b>Carmen Arias</b>";</li>
            <li>4 <span class="pl-5"></span> this.lenguajes = ["JavaScript", "TypeScript", "PHP"];</li>
            <li>5 <span class="pl-5"></span> this.frameworks = ["Angular", "Laravel", "Code Igniter"];</li>
            <li>6 <span class="pl-5"></span> this.maquetación = ["HTML", "CSS", "Tailwind", "Bootstrap", "Sass"];</li>
            <li>7  {{ '}' }}</li>      
        </ol>
    </div>
    <div>¿Te aburres? Juega este minijuego al estilo Chrome Dino haciendo clic para saltar</div>
    <div class="laptop">  
        <div id="game" (click)="jump()" class="rounded-xl bg-gradient-to-r p-[6px] from-[#06283D] via-[#47B5FF] to-[#06283D]">
            <div class="flex flex-col justify-between h-full bg-primary rounded-lg">
                <div id="character"><img src="/assets/img/coding (1).png" alt=""></div>
                <div id="gameOver" class="font-mono text-sm text-center invisible">Tienes un bug en tu código. Haz clic de nuevo para arreglarlo.</div>
                <div id="block"><img src="/assets/img/bug-report.png" alt=""></div>
            </div>
        </div>
    </div>
</div>