<div>
    <h2 class="bg-clip-text transparent bg-gradiant p-[6px] from-[#47B5FF] via-[#06283D] to-[#47B5FF] text-2xl font-semibold text-center pt-6 dark:from-[#06283D] dark:via-[#47B5FF]   dark:to-[#06283D]" >
      Proyectos</h2>
</div>
<div class="p-8 dark:text-dark-secondary-bg flex flex-col justify-center items-center lg:flex-row lg:place-content-around lg:grid lg:grid-cols-5		">
    <div class="max-w-sm lg:h-56 rounded overflow-hidden shadow-box mb-6 bg-primary dark:shadow-box-dark dark:hover:shadow-box-dark-hover  hover:shadow-box-hover col-end-5 lg:max-w-none lg:col-start-1 lg:flex lg:max-w-5xl dark:bg-header-color dark:text-primary">
        <div class="">
          <a routerLink="/proyectos/aer-iolar"><img class="w-full lg:h-full lg:max-w-none " src="/assets/img/aerIolar.png" alt="Captura de pantalla de Aer Iolar"></a>
        </div>
        <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Aer Iolar</div>
        <p class="text-gray-700 text-base pb-4">
            Proyecto sobre una aerolínea ficticia llamada Aer Iolar. Desplegado en Netlify con el backend en Heroku.
        </p>
        <div class="flex pb-4 flex-wrap	dark:text-black">
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://angular.io/">
            Angular</a>
          </p>
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://www.typescriptlang.org/">
            TypeScript</a>
          </p>
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://laravel.com/">
            Laravel</a>
          </p>
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://www.php.net/">
            PHP</a>
          </p>
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5">
            HTML5</a>
          </p>
          <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
            CSS3</a>
          </p>
          
        </div>
        <a routerLink="/proyectos/aer-iolar" class="pt-4 hover-underline-animation after:bg-header-color dark:after:bg-primary">Ver más</a>
        </div>
    </div>
    <div class="max-w-sm lg:h-56 rounded overflow-hidden shadow-box mb-6 bg-primary dark:shadow-box-dark dark:bg-header-color dark:hover:shadow-box-dark-hover hover:shadow-box-hover lg:col-end-6 lg:max-w-none lg:col-start-2 lg:flex lg:max-w-5xl lg:ml-auto lg:flex-row-reverse	dark:text-primary">
        <div class="">
          <a routerLink="/proyectos/casa-papel"><img class="w-full lg:h-full" src="/assets/img/casa-papel.png" alt="Captura de pantalla de La casa de papel"></a>
        </div>
        <div class="px-6 py-4 lg:w-[47.5rem]">
          <div class="font-bold text-xl mb-2">La casa de papel</div>
          <p class="text-gray-700 text-base pb-4">
              Sitio web dedicado a la serie La casa de papel. Proyecto enfocado en la optimización web.
          </p>
          <div class="flex pb-4 flex-wrap	dark:text-black">
            <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5">
              HTML5</a>
            </p>
            <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
              CSS3</a>
            </p>
            <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://parceljs.org/">
              Parcel</a>
            </p>
            <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://www.optimizely.com/optimization-glossary/website-optimization/">
              Optimización web</a>
            </p>
          </div>
            <a routerLink="/proyectos/casa-papel" class="pt-4 hover-underline-animation after:bg-header-color dark:after:bg-primary">Ver más</a>
        </div>
    </div>
    <div class="max-w-sm lg:h-56 rounded overflow-hidden shadow-box mb-6 bg-primary dark:bg-header-color dark:shadow-box-dark dark:hover:shadow-box-dark-hover hover:shadow-box-hover col-end-5 lg:max-w-none lg:col-start-1 lg:flex lg:max-w-5xl dark:text-primary">
          <div class="">
            <a routerLink="/proyectos/festival"><img class="w-full lg:h-full" src="/assets/img/festival.png" alt="Captura de pantalla del sitio web Festival de música"></a>
          </div>
          <div class="px-6 py-4 lg:w-[47.5rem]">
            <div class="font-bold text-xl mb-2">Festival de música</div>
            <p class="text-gray-700 text-base pb-4">
                Proyecto sobre un festival de música. Estilos desarrollados con Bootstrap y Sass.
            </p>
            <div class="flex pb-4 flex-wrap	dark:text-black">
              <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5">
                HTML5</a>
              </p>
              <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">
                CSS3</a>
              </p>
              <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://parceljs.org/">
                Parcel</a>
              </p>
              <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://sass-lang.com/">
                Sass</a>
              </p>
              <p class="text-gray-700 text-base rounded-full bg-secondary-bg/50 hover:bg-secondary-bg max-w-fit p-1 px-2 m-1"><a href="https://getbootstrap.com/">
                Bootstrap</a>
              </p>
            </div>
            <a routerLink="/proyectos/festival" class="pt-4 hover-underline-animation after:bg-header-color dark:after:bg-primary">Ver más</a>
        </div>
    </div>
</div>