<div>
    <h2 class="bg-clip-text transparent bg-gradiant p-[6px] from-[#47B5FF] via-[#06283D] to-[#47B5FF] text-2xl font-semibold text-center pt-6 dark:from-[#06283D] dark:via-[#47B5FF]   dark:to-[#06283D]" >
      Proyectos</h2>
</div>
<div class="p-8 dark:text-dark-secondary-bg flex flex-col justify-center items-center lg:flex-row lg:place-content-around	">
    <div class="max-w-sm rounded overflow-hidden shadow-box mb-6 bg-primary lg:h-96 dark:shadow-box-dark">
        <a routerLink="/aer-iolar"><img class="w-full" src="/assets/img/aerIolar.png" alt="Sunset in the mountains"></a>
        <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Aer Iolar</div>
        <p class="text-gray-700 text-base">
            Proyecto sobre una aerolínea ficticia llamada Aer Iolar. Desplegado en Netlify con el backend en Heroku.
        </p>
        <a routerLink="/aer-iolar" class="pt-4">Ver más</a>
        </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-box mb-6 bg-primary lg:h-96 dark:shadow-box-dark">
        <a routerLink="/casa-papel"><img class="w-full" src="/assets/img/casa-papel.png" alt="Sunset in the mountains"></a>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">La casa de papel</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
          <a routerLink="/casa-papel">Ver más</a>
        </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden shadow-box mb-6 bg-primary lg:h-96 dark:shadow-box-dark">
        <a routerLink="/festival"><img class="w-full" src="/assets/img/festival.png" alt="Sunset in the mountains"></a>
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Festival de música</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
          </p>
          <a routerLink="/festival">Ver más</a>
        </div>
    </div>
</div>