<body [ngClass]="{ dark: isDarkEnable }" class="relative">
  <header class="flex justify-around py-3.5	sticky top-0 bg-secondary-bg dark:bg-dark-secondary-bg dark:text-dark-primary">
   <!--  <div><img class="w-40" src="/assets/img/Carmen_nobg.png" alt="" srcset=""></div> -->
    <div class="font-mono ">Carmen Arias</div>
    <div class="">Sobre mí</div>
    <div class="">Proyectos</div>
    <div class="">Contacto</div>
    <div>
      <a *ngIf="isDarkEnable" (click)="changeTheme()" mode-button style="font-size:20px"><fa-icon [icon]="faSun"></fa-icon>
      </a>
      <a *ngIf="!isDarkEnable" (click)="changeTheme()" mode-button style="font-size:20px"><fa-icon [icon]="faMoon"></fa-icon>
      </a> 
    </div>
  </header>
  
  <main class="bg-secondary-bg dark:bg-dark-secondary-bg dark:text-dark-primary">
    <router-outlet></router-outlet>
  </main>
</body>