<div class="text-center flex flex-col items-center ">
    <h2 class="bg-clip-text transparent bg-gradiant p-6 from-[#47B5FF] via-[#06283D] to-[#47B5FF] text-2xl font-semibold text-center pt-6 dark:from-[#06283D] dark:via-[#47B5FF] dark:to-[#06283D] title">Festival de Música</h2>
    <div class="pb-4 lg:mb-8 w-10/12 flex justify-center"><a href="https://festival-musica-3.netlify.app/" title="Visitar Festival de música"><img src="/assets/img/festival.png" alt="Captura de pantalla de Festival de música" class="rounded-lg transform transition duration-500 hover:scale-110"></a></div>
    <div class="p-4 pb-0 lg:text-left lg:w-2/3">
        Trabajo en el que se usa Bootstrap y Sass para dar estilos a los componentes del sitio web.
    </div>
    <div class="p-4 pb-0 lg:text-left lg:w-2/3">Las características principales de este proyecto son: </div>
    
    <div class="p-4 pb-0 lg:text-left lg:w-2/3">Uso de Stylelint para mejorar la unidad de los estilos usados (unidades métricas, nombres de las clases, etc.)</div>
    <div class="m-4 flex justify-center">
        <picture>
            <source media="(max-width: 768px)" srcset="/assets/img/codigo-stylelint.png">
            <source media="(min-width: 769px)" srcset="/assets/img/codigo-stylelint-full.png">
            <img src="/assets/img/codigo-stylelint.png" alt="Captura del código del archivo .stylelintrc" class="rounded-lg">
        </picture>
    </div>
    <div class="p-4 pb-0 lg:text-left lg:w-2/3">Bootstrap para la creación de componentes como Card, Carousel, Navbar, etc.</div>
    <div class="m-4 flex justify-center">
        <picture>
            <source media="(max-width: 768px)" srcset="/assets/img/capturaCard-small.png">
            <source media="(min-width: 769px)" srcset="/assets/img/capturaCard.png">
            <img src="/assets/img/capturaCard-small.png" alt="Captura del componente Card hecho con Boostrap" class="rounded-lg">
        </picture>
    </div>
    <div class="m-4 flex justify-center"><img src="/assets/img/capturaCarousel.png" alt="Captura del componente Carousel hecho con Boostrap" class="rounded-lg"></div>
    <div class="p-4 pb-0 lg:text-left lg:w-2/3">Uso de Sass, procesador CSS (variables, anidado, funciones, parciales e importación)</div>
    <div class="m-4 flex justify-center"><img src="/assets/img/capturaStyles.png" alt="Captura de los archivos Sass en este proyecto" class="rounded-lg"></div>

  <div class="pt-4 lg:w-10/12	lg:text-left"><a routerLink=".." class="pt-4 hover-underline-animation after:bg-header-color dark:after:bg-primary">< Atrás</a></div>  
</div>

